<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,562;1,562&display=swap" rel="stylesheet">


<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ["\\[","\\]"]],
    processEscapes: false,
    processRefs: true,
    tags: 'all',
  },
  // tex : {
  //   macros: {
  //     \\: '\newline'
  //   }
  // }
  messageStyle: "none",
"HTML-CSS": {
    preferredFont: "TeX",
    availableFonts: ["STIX","TeX"],
    //styles: {".MathJax": {color: "black"}}
    }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<!-- <script type="text/x-mathjax-config">
MathJax = {
tex: {
  packages: ['base'],        // extensions to use
  inlineMath: [              // start/end delimiter pairs for in-line math
    ['\\(', '\\)']
  ],
  displayMath: [             // start/end delimiter pairs for display math
    ['$$', '$$'],
    ['\\[', '\\]']
  ],
  processEscapes: true,      // use \$ to produce a literal dollar sign
  processEnvironments: true, // process \begin{xxx}...\end{xxx} outside math mode
  processRefs: true,         // process \ref{...} outside of math mode
  digits: /^(?:[0-9]+(?:\{,\}[0-9]{3})*(?:\.[0-9]*)?|\.[0-9]+)/,
                             // pattern for recognizing numbers
  tags: 'none',              // or 'ams' or 'all'
  tagSide: 'right',          // side for \tag macros
  tagIndent: '0.8em',        // amount to indent tags
  useLabelIds: true,         // use label name rather than tag for ids
  multlineWidth: '85%',      // width of multline environment
  maxMacros: 1000,           // maximum number of macro substitutions per expression
  maxBuffer: 5 * 1024,       // maximum size for the internal TeX string (5K)
  baseURL:                   // URL for use with links to tags (when there is a <base> tag in effect)
     (document.getElementsByTagName('base').length === 0) ?
      '' : String(document.location).replace(/#.*$/, ''))
}
};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> -->


  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
</head>
