.idea {
	color: #0e4dff;
}
.idea:before {
	content: "IDEA";
	font-size: 0.5em;
	margin-left: -4em;
	margin-right: 5em;
	margin-top: 1em;
	position: absolute;
	white-space: pre;
}

.unsure {
//	color: #dbbb65;
	color: #c5a95b;
}

.unsure:before {
	content: "UNSURE";
	font-size: 0.5em;
	margin-left: -5.5em;
	margin-right: 5em;
	margin-top: 1em;
	position: absolute;
	white-space: pre;
}

.q {
	color: #f65b5b;
	background-color: #ffc7c7;
	padding: 0.5em;
	// padding-bottom: 0.5em;
	padding-left: 4em;
	margin-left: -4em;
	margin-bottom: 1em;
	border-radius: 0em;
}


.q:before {
	content: " Q:";
	font-size: 1em;
	width: 1.7em;
	height: 1.7em;
	// vertical-align: middle;
	// display: inline;
	font-weight: bold;
	color: red;
	background-color: #ffc7c7;
	// border-radius: 20%;
	border-radius: 20%;
	margin-left: -3.2em;
	// margin-right: 5em;
	margin-top: 0em;
	position: absolute;
	white-space: pre;
}

.qr {
	// color: #f65b5b;
	margin-top: -0.5em;
	border-left-color: #f65b5b;
	border-left-width: 0.1em;
	padding-left: 1em;
	margin-left: -1em;
	border-left-style: solid;
}

.qr:before {
	content: "Q:";
	color: #f65b5b;
	font-size: 1em;
	margin-left: -3em;
	margin-right: 5em;
	margin-top: 0em;
	position: absolute;
	white-space: pre;
}

.a {
	// color: #3bd05e;
	margin-top: -0.5em;
	border-left-color: #3bd05e;
	border-left-width: 0.1em;
	padding-left: 1em;
	margin-left: -1em;
	border-left-style: solid;


	// background-color: black;
}

.a:before {
	content: "A:";
	color: #3bd05e;
	font-size: 1em;
	margin-left: -3em;
	margin-right: 5em;
	margin-top: 0em;
	position: absolute;
	white-space: pre;
}

.task-list {
	// background-color: blue;
	list-style-type: none;
	margin-left: 1em;
}

.MathJax {
	font-weight: bold;
//	font-family: "Roboto";
	color: "blue";
}

br {
   display: block;
   margin: 100px 0;
	 padding: 30em;
	 background-color: blue;
}

.center_image{
	// width: 500px;
}

.center_image > img {
	// max-width: 400px;
	height: auto;
	// background-color: blue;
	object-fit: fill;
}


/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
/*
  h1 {
    @include relative-font-size(3);

    @include media-query($on-laptop) {
      @include relative-font-size(4);
     }
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
  */
}
body {
// 	// counter-reset: h1
counter-reset: h2;

}

h1 {
	// counter-reset: h2;
}

h2 {
	counter-reset: h3;
}

h3 {
	counter-reset: h4;
}

h4 {
	counter-reset: h5;
}

h5 {
	counter-reset: h6;
}

h2:before {
	counter-increment: h2;
	content: counter(h2) ". ";
}

h3:before {
	content: counter(h2) "." counter(h3) ". ";
	counter-increment: h3;
}

h4:before {
	content: counter(h2) "." counter(h3) "." counter(h4) ". ";
	counter-increment: h4;
}

h5:before {
	content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
	counter-increment: h5;
}
